@model ArtGallery.Models.Post

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@*Start*@

@section Header
{
    <section class="Post-SectionOne">

        <div id="Post-SectionOne-ThumbImage">
            <img src="~/img/Posts/p1.jpg" alt="Alternate Text" class="img-thumbnail" />
        </div>

        <div id="Post-SectionOne-Title">
            <h2 style=" text-align: left !important;margin-top: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;margin-bottom: 0px !important; ">Title of the post</h2>
            <p class="Post-SectionOne-Items">01/01/2025</p>
            <p class="Post-SectionOne-Items"><span>By </span><span>AuthorName</span></p>
            @*tags start(12 tag)*@
            <div id="SectionOne-TagsSection" class="col-sm-24">
                <div class="row row-cols-md-auto">
                    <div class="col-auto Post-SectionOne-Tags">Tag01</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag02</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag03</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag04</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag05</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag06</div>




                </div>
            </div>
            @*tags End*@
        </div>

        <div id="Post-SectionOne-Descriptions" class="container">
                <p>
            This a sample description for this post. You can find picture of the post as bellow. Also all members of Art Gallery can post comments or reply eachother in posts. You can like posts you love and also share them with your friends in Art Gallery or any social media application.
                </p>
        </div>
        <div id="Post-SectionOne-PostImage" class="text-center ">
            <img src="~/img/Posts/p1.jpg" alt="Alternate Text" class="rounded" style="width:800px; margin:20px;" />


        </div>


    </section>
}

<div class="container-fluid">

    <section class="Post-SectionTwo">

        <div class="row">
            <div class="Post-Comment-Box">
                <div class="Post-Comment-Left">
                    <div class="ProfilePic-style02">
                        <img src="~/img/user.png" width="80px" height="80px" style="margin:10px" alt="">
                    </div>
                </div>
                <div class="Post-Comment-Right" style="padding-left:50px;padding-right:50px;padding-top:20px;">

                    <h4>UserName</h4>
                    <p>This a sample description for this post. You can find picture of the post as bellow. Also all members of Art Gallery can post comments or reply eachother in posts. You can like posts you love and also share them with your friends in Art Gallery or any social media application.</p>
                    <div class="Buttons-Holder-Style"><a class="Buttons-Style" >Reply</a><a class="Buttons-Style">Forward</a><a class="Buttons-Style">Save on box</a></div>

                </div>
            </div>
        </div>

            <div class="row">
                <div class="Post-Comment-Box" style="margin-left:180PX;">
                    <div class="Post-Comment-Left">
                        <div class="ProfilePic-style02">
                            <img src="~/img/user.png" width="80px" height="80px" style="margin:10px" alt="">
                        </div>
                    </div>
                    <div class="Post-Comment-Right" style="padding-left:50px;padding-right:50px;padding-top:20px;">

                        <h4>UserName</h4>
                        <p>This a sample description for this post. You can find picture of the post as bellow. Also all members of Art Gallery can post comments or reply eachother in posts. You can like posts you love and also share them with your friends in Art Gallery or any social media application.</p>
                        <div class="Buttons-Holder-Style"><a class="Buttons-Style">Reply</a><a class="Buttons-Style">Forward</a><a class="Buttons-Style">Save on box</a></div>

                    </div>
                </div>
            </div>

        <br />
        part 2
        <div>paragraph</div>
        <div>dokme ha</div>

        <div>
            <form asp-controller="User" asp-action="AddComment" asp-route-Message="Message">
                <textarea style="width:100%; height:200px;" name="Message"></textarea>
                <button type="submit">Comment</button>
            </form>
        </div>
    </section>

</div>
@*End*@

<!--<h1 id="ali">Post</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImage)
        </dt>
        <dd class="col-sm-10">
            <img src="~/img/Posts/p3.jpg" />-->
@*@Html.DisplayFor(model => model.PostImage)*@
<!--</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class = "col-sm-2">
            Date01
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            Date02
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>-->