@model ArtGallery.Models.Post

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@*Start*@

@section Header
{
    <section class="Post-SectionOne">

        <div id="Post-SectionOne-ThumbImage">
            <img src="~/img/Posts/p1.jpg" alt="Alternate Text" class="img-thumbnail" />
        </div>

        <div id="Post-SectionOne-Title">
            <h2 style=" text-align: left !important;margin-top: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;margin-bottom: 0px !important; ">Title of the post</h2>
            <p class="Post-SectionOne-Items">01/01/2025</p>
            <p class="Post-SectionOne-Items"><span>By </span><span>AuthorName</span></p>
            @*tags start(12 tag)*@
            <div id="SectionOne-TagsSection" class="col-sm-24">
                <div class="row row-cols-md-auto">
                    <div class="col-auto Post-SectionOne-Tags">Tag01</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag02</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag03</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag04</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag05</div>
                    <div class="col-auto Post-SectionOne-Tags">Tag06</div>




                </div>
            </div>
            @*tags End*@
        </div>

        <div id="Post-SectionOne-Descriptions" class="container"><p>text text text text text text text text text text text text text text </p></div>
        <div id="Post-SectionOne-PostImage" class="text-center">
            <img src="~/img/Posts/p1.jpg" alt="Alternate Text" class="rounded" />
        </div>


    </section>
}

<div class="MainPart container-fluid">

    <section class="Post-SectionTwo">
        <br />
        part 2
        <div>paragraph</div>
        <div>dokme ha</div>

        <div>
            <form asp-controller="User" asp-action="AddComment" asp-route-Message="Message">
                <textarea style="width:100%; height:200px;" name="Message"></textarea>
                <button type="submit">Comment</button>
            </form>
        </div>
    </section>

</div>
@*End*@

<!--<h1 id="ali">Post</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImage)
        </dt>
        <dd class="col-sm-10">
            <img src="~/img/Posts/p3.jpg" />-->
@*@Html.DisplayFor(model => model.PostImage)*@
<!--</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class = "col-sm-2">
            Date01
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            Date02
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>-->
